# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Log Files
*.log
logs/
target/*.log

# Maven generated directories
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Eclipse Files
.classpath
.project
.settings/
*.launch
.metadata

# IntelliJ IDEA Files
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code Files
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Other temporary files
*~
*.bak
*.swp

# Local database files (if any were created by a DB tool, e.g., H2, SQLite)
*.mv.db
*.trace.db
*.sqlite


# Exclude Spring XML configuration file containing sensitive database credentials.

#src/main/resources/demo-beans.xml
